<header class="post-header">
    <h2 class="post-title">
        <a *ngIf="!isEdit" [href]="articles.href">{{articles.title}}</a>
        <input *ngIf="isEdit" #tInput type="text" size="61" [value]="newTitle"
        (keyup.enter)="onEdit(tInput.value)"
        (keyup.escape)="tInput.value = articles.title;isEdit=false">


    </h2>
    <div class="post-info clearfix">
      <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>{{ articles.date | date:'shortDate' }}</span>
      <span class="post-author"><i class="glyphicon glyphicon-user"></i><a href="http://blog.miniasp.com/author/will.aspx">{{ articles.author }}</a></span>
      <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a [href]="articles['categoryLink']">{{ articles.category }}</a></span>
      <span>
        <button (click)="onDeleteArticle()">刪除</button>
        <button *ngIf="!isEdit" (click)="isEdit=true">編輯文章</button>
        <button *ngIf="isEdit" (click)="isEdit=false">取消編輯</button>
      </span>
    </div>
  </header>
